" Set space as the leader key
let mapleader = " "

" Clear search highlighting with Esc
nnoremap < Esc > : noh < CR >

  " Jump to start and end of line using H and L
nnoremap H ^
nnoremap L $

" Disable arrow keys in normal mode
nnoremap < Up > <Nop>
nnoremap <Down> <Nop>
nnoremap <Left> <Nop>
nnoremap <Right> <Nop>

" Split navigation using Ctrl+hjkl
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Diagnostic keymaps
nnoremap [d :action GoToPreviousError<CR>
nnoremap ]d :action GotoNextError<CR>

" Terminal exit
" vim.keymap.set("t", "<Esc><Esc>", "<C-\\><C-n>", {desc = "Exit terminal mode"})

" LSP actions
nnoremap gd :action GoToDeclaration<CR>
nnoremap gr :action FindUsages<CR>
nnoremap gI :action GotoImplementation<CR>
nnoremap <leader>D :action GotoTypeDeclaration<CR>
nnoremap <leader>ds :action FileStructurePopup<CR>
nnoremap <leader>ws :action FileStructurePopup<CR>
nnoremap <leader>rn :action RenameElement<CR>
nnoremap <leader>ca :action ShowIntentionActions<CR>
nnoremap K :action QuickJavaDoc<CR>
nnoremap <C-k> :action TagDocumentationNavigation<CR>
nnoremap gD :action GoToDeclaration<CR>

" Telescope actions
nnoremap <leader>sh :action HelpTopics<CR>
nnoremap <leader>sk :action Help.KeymapReference<CR>
nnoremap <leader>sf :action FindInPath<CR>
nnoremap <leader>sw :action FindUsages<CR>
nnoremap <leader>sg :action FindInPath<CR>
" nnoremap <leader>sd :action SearchDiagnostics<CR>
" nnoremap <leader>sr :action SearchResume<CR>
nnoremap <leader>s. :action RecentFiles<CR>
nnoremap <leader><leader> :action <CR>
nnoremap <leader>/ :action Find<CR>
nnoremap <leader>s/ :action FindWordAtCaret<CR>
