# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Google
Language: Cpp
AllowShortFunctionsOnASingleLine: Never
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
DerivePointerAlignment: false
IndentWidth: 4
SpacesBeforeTrailingComments: 1
